<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/task_manager/static/css/style.css">
</head>
<body>
    <header>
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a id="login"  href="#login" class="login-link">Log In</a>
        <a id="signup"  href="#signup" class="login-link">SignUp</a>
      </div>    
    </header>
    <div class="content-container">
        <div class="text-section">
          <h2>The best way to manage your task is to ace them!</h2>
          <div class="intro">
            <h4>
              Todos is a task managing application that lets you manage,
              organize and take charge of your task. It is easy to use with a
              responsive and attractive web interface.
              So go ahead and own your task, own success!
            </h4>
          </div>
        </div>
        <div class="image-section">
          <img src="/task_manager/static/images/bground.png" alt="" width="750" height="350">
        </div>
      </div>
      
</body>
</html>